@model Suma2Lealtad.Models.Transferencia

@{
    ViewBag.Title = "DetalleTransferencia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css" media="screen">
    .table-hover {
        cursor: pointer;
    }

    .table tbody tr.active td {
        background-color: #5e8262; /*#476B6B #29A329;*/
        color: white;
    }
</style>

@{
    string indicadorGuardar;
    if (Session["RoleLevel"].ToString() == "3")
    {
        if (Model.statusOrden == "Nueva")
        {
            indicadorGuardar = "Aprobar";
        }
        else
        {
            indicadorGuardar = "Guardar";
        }
    }
    else
    {
        indicadorGuardar = "Guardar";
    }

    string indicadorMostrar;
    if (Model.docnumberAfiliadoDestino == null)
    {
        indicadorMostrar = "Ocultar";
    }
    else
    {
        indicadorMostrar = "Mostrar";

    }
}

<div class="form-group">

    <div class="panel panel-default">

        <div class="panel-heading clearfix panel-gradient">
            <h3 class="panel-title">Operaciones / Transferencia de Saldo / Crear Anulación / Datos de Origen y Destino  </h3>
        </div>

        <form id="form1" name="form2" method="post" action="@Url.Action("CreateAnulacionTransferencia", "Transferencia")" class="form-horizontal" >        

        <div class="panel-body">
           
            @{if (Model.id != 0)
              {
                <div class="editor-label col-md-4 control-label"></div>
                <div class="editor-field col-md-8">
                    <br />
                </div>

                <div class="editor-label col-md-4 control-label">
                    Nro. de Orden :
                </div>

                <div class="editor-form col-md-6">
                    @Html.HiddenFor(modelItem => Model.id)                    
                    @Html.TextBoxFor(model => model.id, new { @class = "form-control", @readonly = "true" })
                </div>

                <div class="editor-label col-md-4 control-label">
                    Estatus de la Orden :
                </div>

                <div class="editor-form col-md-6">
                    @Html.TextBoxFor(model => model.statusOrden, new { @class = "form-control", @readonly = "true" })
                </div>

                <div class="editor-label col-md-4 control-label">
                    Clase de Orden :
                </div>

                <div class="editor-form col-md-6">
                    @Html.TextBoxFor(model => model.tipoOrden, new { @class = "form-control", @readonly = "true" })
                </div>
              }
            }
                <div class="editor-field col-md-6">
                    <br />
                </div>

                <div class="col-md-12 col-tabla-btn">
                    <div class="text-center">
                        <p class="text-danger">
                            Datos de Origen
                        </p>
                    </div>
                </div>

                <div class="editor-label col-md-4 control-label">
                    Nombre del Afiliado :
                </div>
                <div class="editor-form col-md-6">
                    @Html.HiddenFor(modelItem => Model.idAfiliadoOrigen)
                    @Html.HiddenFor(modelItem => Model.nameAfiliadoOrigen)
                    @Html.HiddenFor(modelItem => Model.lastname1AfiliadoOrigen)
                    @Html.TextBox("name", @Model.nameAfiliadoOrigen + " " + @Model.lastname1AfiliadoOrigen, new { @class = "form-control", @readonly = "true" })
                </div>

                <div class="editor-label col-md-4 control-label">
                    Número de Documento/Cédula :
                </div>
                <div class="editor-form col-md-6">
                    @Html.HiddenFor(modelItem => Model.docnumberAfiliadoOrigen)
                    @Html.TextBox("docnumber", @Model.docnumberAfiliadoOrigen, new { @class = "form-control", @readonly = "true" })
                </div>

                <div class="editor-label col-md-4 control-label"></div>
                <div class="editor-field col-md-8">
                    <br />
                </div>

                @*<table class="table table-striped custab">*@
                <table id="cuentasOrigen" class="table table-hover">

                    <thead>
                        <tr>
                            <th>Tipo de Cuenta
                            </th>
                            <th>Número de Cuenta
                            </th>
                            @{if (Model.statusOrden == null)
                              {
                                  <th>Saldo
                                  </th>
                                  <th>Denominación
                                  </th>
                              }
                              else
                              {
                                  <th>Estatus
                                  </th>
                                  <th>Observaciones
                                  </th>
                              }
                              }
                        </tr>
                    </thead>

                    <tbody>

                        <tr data-row-key="@Model.datosCuentaSumaOrigen.accounttype">
                            @Html.HiddenFor(modelItem => Model.datosCuentaSumaOrigen.accounttype)

                            <td>
                                @Html.HiddenFor(modelItem => Model.datosCuentaSumaOrigen.accountname)
                                @Html.DisplayFor(modelItem => Model.datosCuentaSumaOrigen.accountname)
                            </td>
                            <td>
                                @Html.HiddenFor(modelItem => Model.datosCuentaSumaOrigen.accountnumber)
                                @Html.DisplayFor(modelItem => Model.datosCuentaSumaOrigen.accountnumber)
                            </td>
                             @{if (Model.statusOrden == null)
                               {
                                <td id="sos">
                                    @Html.HiddenFor(modelItem => Model.datosCuentaSumaOrigen.saldo)
                                    @(String.Format("{0}", Math.Truncate(Model.datosCuentaSumaOrigen.saldo)))
                                </td>
                                <td>
                                @Html.HiddenFor(modelItem => Model.DenominacionCuentaOrigenSuma)
                                @Model.DenominacionCuentaOrigenSuma
                                </td>  
                               }
                               else
                               {
                            <td>
                                @Html.HiddenFor(modelItem => Model.statusDetalleOrdenOrigenSuma)
                                @Model.statusDetalleOrdenOrigenSuma
                            </td>
                            <td>
                                @Html.HiddenFor(modelItem => Model.resultadoTransferenciaOrigenSuma)
                                @Model.resultadoTransferenciaOrigenSuma 
                            </td> 
                               }   
                               }                      
                        </tr>

                        <tr data-row-key="@Model.datosCuentaPrepagoOrigen.accounttype">
                            @Html.HiddenFor(modelItem => Model.datosCuentaPrepagoOrigen.accounttype)

                            <td>
                                @Html.HiddenFor(modelItem => Model.datosCuentaPrepagoOrigen.accountname)
                                @Html.DisplayFor(modelItem => Model.datosCuentaPrepagoOrigen.accountname)
                            </td>
                            <td>
                                @Html.HiddenFor(modelItem => Model.datosCuentaPrepagoOrigen.accountnumber)
                                @Html.DisplayFor(modelItem => Model.datosCuentaPrepagoOrigen.accountnumber)
                            </td>
                            @{if (Model.statusOrden == null)
                              {
                            <td id="sop">
                                @Html.HiddenFor(modelItem => Model.datosCuentaPrepagoOrigen.saldo)
                                @Html.DisplayFor(modelItem => Model.datosCuentaPrepagoOrigen.saldo)
                            </td>
                            <td>
                                @Html.HiddenFor(modelItem => Model.DenominacionCuentaOrigenPrepago)
                                @Model.DenominacionCuentaOrigenPrepago
                            </td>  
                              }
                              else
                              {
                            <td>
                                @Html.HiddenFor(modelItem => Model.statusDetalleOrdenOrigenPrepago)
                                @Model.statusDetalleOrdenOrigenPrepago
                            </td>
                            <td>
                                @Html.HiddenFor(modelItem => Model.resultadoTransferenciaOrigenPrepago)
                                @Model.resultadoTransferenciaOrigenPrepago 
                            </td>  
                              } 
                               }                                               
                        </tr>

                    </tbody>

                </table>                                              

@{if (indicadorMostrar == "Ocultar")
  {
                <div class="col-md-12 col-tabla-btn">
                    <div class="text-center">
                        <p class="text-danger">
                            Datos de Destino
                        </p>
                    </div>
                </div>
                <div class="editor-label col-md-4 control-label"></div>
                <div class="editor-field col-md-8">
                    <br />
                </div>

                <div class="editor-label col-md-4 control-label">
                    Número de Documento/Cédula :
                </div>

                <div class="editor-field col-md-8">
                    <input type="text" id="numdoc" name="numdoc" value="" maxlength="11" placeholder="V-12345678" class="form-control" required>
                    <span id="someID"></span>
                </div>    
  }
  else
  {
                <div class="col-md-12 col-tabla-btn">
                    <div class="text-center">
                        <p class="text-danger">
                            Datos de Destino
                        </p>
                    </div>
                </div>
               
                <div class="editor-label col-md-4 control-label">
                    Nombre del Afiliado :
                </div>
                <div class="editor-form col-md-6">
                    @Html.HiddenFor(modelItem => Model.idAfiliadoDestino)                    
                    @Html.HiddenFor(modelItem => Model.nameAfiliadoDestino)
                    @Html.HiddenFor(modelItem => Model.lastname1AfiliadoDestino)
                    @Html.TextBox("name", @Model.nameAfiliadoDestino + " " + @Model.lastname1AfiliadoDestino, new { @class = "form-control", @readonly = "true" })
                </div>

                <div class="editor-label col-md-4 control-label">
                    Número de Documento/Cédula :
                </div>
                <div class="editor-form col-md-6">
                    @Html.HiddenFor(modelItem => Model.docnumberAfiliadoDestino)
                    @Html.TextBox("docnumber", @Model.docnumberAfiliadoDestino, new { @class = "form-control", @readonly = "true" })
                </div>
    
                    <div class="editor-label col-md-4 control-label"></div>
                <div class="editor-field col-md-8">
                    <br />
                </div>

                @*<table class="table table-striped custab">*@
                <table id="cuentasDestino" class="table table-hover">

                    <thead>
                        <tr>
                            <th>Tipo de Cuenta
                            </th>
                            <th>Número de Cuenta
                            </th>
                @if (Model.statusOrden == null)
                {
                                  <th>Saldo
                                  </th>
                                  <th>Denominación
                                  </th>
                }
                else
                {
                                  <th>Estatus
                                  </th>
                                  <th>Observaciones
                                  </th>
                }                              
                        </tr>
                    </thead>

                    <tbody>

                        <tr data-row-key="@Model.datosCuentaSumaDestino.accounttype">
                          @Html.HiddenFor(modelItem => Model.datosCuentaSumaDestino.accounttype)

                            <td>
                                @Html.HiddenFor(modelItem => Model.datosCuentaSumaDestino.accountname)
                                @Html.DisplayFor(modelItem => Model.datosCuentaSumaDestino.accountname)
                            </td>
                            <td>
                                @Html.HiddenFor(modelItem => Model.datosCuentaSumaDestino.accountnumber)
                                @Html.DisplayFor(modelItem => Model.datosCuentaSumaDestino.accountnumber)
                            </td>
                @if (Model.statusOrden == null)
                {
                            <td id="sds">
                                @Html.HiddenFor(modelItem => Model.datosCuentaSumaDestino.saldo)
                                @(String.Format("{0}", Math.Truncate(Model.datosCuentaSumaDestino.saldo)))
                            </td>
                            <td>
                                @Html.HiddenFor(modelItem => Model.DenominacionCuentaOrigenSuma)
                                @Model.DenominacionCuentaOrigenSuma
                            </td>  
                }
                else
                {
                            <td>
                                @Html.HiddenFor(modelItem => Model.statusDetalleOrdenDestinoSuma)
                                @Model.statusDetalleOrdenDestinoSuma 
                            </td>
                            <td>
                                @Html.HiddenFor(modelItem => Model.resultadoTransferenciaDestinoSuma)
                                @Model.resultadoTransferenciaDestinoSuma 
                            </td>  
                }
                        </tr>

                        <tr data-row-key="@Model.datosCuentaPrepagoDestino.accounttype">
                            @Html.HiddenFor(modelItem => Model.datosCuentaPrepagoDestino.accounttype)

                            <td>
                                @Html.HiddenFor(modelItem => Model.datosCuentaPrepagoDestino.accountname)
                                @Html.DisplayFor(modelItem => Model.datosCuentaPrepagoDestino.accountname)
                            </td>
                            <td>
                                @Html.HiddenFor(modelItem => Model.datosCuentaPrepagoDestino.accountnumber)
                                @Html.DisplayFor(modelItem => Model.datosCuentaPrepagoDestino.accountnumber)
                            </td>
                @if (Model.statusOrden == null)
                {
                            <td id="sdp">
                                @Html.HiddenFor(modelItem => Model.datosCuentaPrepagoDestino.saldo)
                                @Html.DisplayFor(modelItem => Model.datosCuentaPrepagoDestino.saldo)
                            </td>
                            <td>
                                @Html.HiddenFor(modelItem => Model.DenominacionCuentaOrigenPrepago)
                                @Model.DenominacionCuentaOrigenPrepago
                            </td>  
                }
                else
                {
                            <td>
                                @Html.HiddenFor(modelItem => Model.statusDetalleOrdenDestinoPrepago)
                                @Model.statusDetalleOrdenDestinoPrepago
                            </td>
                            <td>
                                @Html.HiddenFor(modelItem => Model.resultadoTransferenciaDestinoPrepago)
                                @Model.resultadoTransferenciaDestinoPrepago 
                            </td>
                } 

                    </tbody>

                </table>

                <!-- btn btn-success -->
                <div class="col-md-12 col-tabla-btn">
                    <div class="text-center">
                        <p class="text-danger">
                            Resumen de Transferencia
                        </p>
                    </div>
                </div>
                <!--// btn btn-success -->

                <div class="editor-label col-md-6 control-label">
                    Cantidad de más en Transferencia para @Model.datosCuentaSumaOrigen.accountname :
                </div>

                <div class="editor-form col-md-2">
                    <input type="text" id="ResumenTransferenciaSuma" name="ResumenTransferenciaSuma" value="@Model.ResumenTransferenciaSuma" maxlength="10" class="form-control" readonly="true">
                </div>

                <div class="editor-label col-md-6 control-label">
                    Monto en Transferencia para @Model.datosCuentaPrepagoOrigen.accountname :
                </div>

                <div class="editor-form col-md-2">
                    <input type="text" id="ResumenTransferenciaPrepago" name="ResumenTransferenciaPrepago" value="@Model.ResumenTransferenciaPrepago.Replace(".", "")" maxlength="10" class="form-control" readonly="true">
                </div>             
  }
  }
            
          <div class="editor-label col-md-4 control-label">
                </div>
                <div class="editor-field col-md-8">
                   <br />
               </div>

                <!-- buttons -->
                @*<div class="col-md-12 col-tabla-btn">*@
            <div class="col-md-12 col-btn">
                    <div class="pull-right">
                         @{if (Model.docnumberAfiliadoDestino == null)
                           {
                              <input id="Buscar" type="submit" class="btn btn-success btn-md" value="Buscar" />
                              <a href="@Url.Action("FilterOrigen", "Transferencia")" class="btn btn-danger btn-md">Regresar</a>
                           }
                           else if (Model.id == 0)
                           {
                              <a id="Transferir" class="btn btn-success btn-md" role="button">Transferir</a>                         
                              <input id="Crear" type="submit" class="btn btn-success btn-md" value="Crear Orden de Transferencia" style="display:none" />
                              <a href="@Url.Action("FilterOrigen", "Transferencia")" class="btn btn-danger btn-md">Regresar</a>                           
                           }
                           else if (@indicadorGuardar == "Aprobar")
                           {
                              <input id="Aprobar" type="submit" class="btn btn-success btn-md" value="Aprobar Orden" />                            
                              <a id="Rechazar" href="@Url.Action("RechazarTransferencia", "Transferencia", new { id = Model.id })" class="btn btn-success btn-md">Rechazar Orden</a> 
                              <a href="@Url.Action("FilterReview", "OrdenRecargaPrepago")" class="btn btn-danger btn-md">Regresar</a>                           
                           }
                           else if (Model.statusOrden != "Procesada" && Model.statusOrden != "Rechazada")
                           {
                              <a id="Procesar" href="@Url.Action("ProcesarTransferencia", "Transferencia", new { id = Model.id })" class="btn btn-success btn-md">Procesar Orden</a> 
                              @*<input id="Procesar" type="submit" class="btn btn-success btn-md" value="Procesar" />*@
                              <a href="@Url.Action("FilterReview", "OrdenRecargaPrepago")" class="btn btn-danger btn-md">Regresar</a>   
                           }
                           else
                           {
                               <input id="CrearAnulacion" type="submit" class="btn btn-success btn-md" value="Crear Orden de Anulación" />                            
                              
                                <a href="@Url.Action("FilterReview", "OrdenRecargaPrepago")" class="btn btn-danger btn-md">Regresar</a>
                           }
                        }
                       </div>
                </div>
                <!--// buttons -->            
        </div>
        <!-- panel-body -->

    </form>

    </div>
    <!-- panel -->

</div>
<!-- columns -->
