@model IEnumerable<Suma2Lealtad.Models.ReportePrepago>

@{
    ViewBag.Title = "Prepago / Reportes / Reporte de Compras";
    Layout = "";
}

@{
    decimal MontoTotal = 0;
}

<div class="form-group">

    <div class="panel panel-default">

        <div class="panel-heading clearfix panel-gradient">
            <h3 class="panel-title">Prepago / Reportes / Reporte de Compras Detallado</h3>
        </div>

        <div class="panel-body">

            <div class="editor-label col-md-4 control-label">
                <br />
            </div>

            <div>
                Nombre del Reporte :
            </div>

            <div>
                @Html.TextBoxFor(model => model.First().Encabezado.nombreReporte, new { @class = "form-control", @readonly = "true" })
            </div>

            <div>
                Tipo de Consulta :
            </div>

            <div>
                @Html.TextBoxFor(model => model.First().Encabezado.tipoconsultaReporte, new { @class = "form-control", @readonly = "true" })
            </div>

            <div>
                Cliente :
            </div>

            <div>
                @Html.TextBoxFor(model => model.First().Encabezado.parametrotipoconsultaReporte, new { @class = "form-control", @readonly = "true" })
            </div>

            <div>
                Fecha desde :
            </div>

            <div>
                @Html.TextBoxFor(model => model.First().Encabezado.fechainicioReporte, new { @class = "form-control", @readonly = "true" })
            </div>

            <div>
                Fecha hasta :
            </div>

            <div>
                @Html.TextBoxFor(model => model.First().Encabezado.fechafinReporte, new { @class = "form-control", @readonly = "true" })
            </div>

            <div>
                Modalidad de Transacciones :
            </div>

            <div>
                @Html.TextBoxFor(model => model.First().Encabezado.modotransaccionReporte, new { @class = "form-control", @readonly = "true" })
            </div>

            <div>
                Tipo de detalle :
            </div>

            <div>
                @Html.TextBoxFor(model => model.First().Encabezado.tipodetalleReporte, new { @class = "form-control", @readonly = "true" })
            </div>
            
            <div class="editor-label col-md-4 control-label"></div>
            <div class="editor-field col-md-8">
                <br />
            </div>

            <table id="detalleReporte" class="table table-striped custab">

                <thead>
                    <tr>
                        <th>Cliente
                        </th>
                        <th>Número de Documento/Cédula
                        </th>
                        <th>Nombre
                        </th>
                        @{
                            if (Model.First().Encabezado.tipodetalleReporte == "Detallado por Beneficiario")
                            {
                            <th>Fecha y hora
                            </th>
                            <th>Referencia
                            </th>
                            <th>Descripción
                            </th>
                            <th>Número de Tarjeta
                            </th>
                            }
                        }
                        <th>Monto
                        </th>
                        <th>Tipo de Transacción
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @{                        
                        if (Model.First().Beneficiario != null)
                        {
                            foreach (var item in Model)
                            {
                                MontoTotal = MontoTotal + item.monto;                                                     
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Beneficiario.Cliente.nameCliente)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Beneficiario.Afiliado.docnumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Beneficiario.Afiliado.name) @Html.DisplayFor(modelItem => item.Beneficiario.Afiliado.lastname1)
                            </td>
                            @if (Model.First().Encabezado.tipodetalleReporte == "Detallado por Beneficiario")
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.fecha)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.batchid)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.detalle)
                                </td>
                                <td>
                                    @(String.Format("{0}", Math.Truncate(item.numerotarjeta)))
                                </td>
                            }
                            <td>
                                @Html.DisplayFor(modelItem => item.monto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tipo)
                            </td>
                        </tr>                            
                            }
                        }
                    }
                </tbody>

            </table>

            <div>
                Monto Total Transacciones :
            </div>

            <div>
                <input type="text" id="MontoTotalTransacciones" name="MontoTotalTransacciones" value="@Math.Round(MontoTotal,2)" class="form-control" readonly="true">
            </div>

        </div>
        <!-- panel-body -->

    </div>
    <!-- panel -->

</div>




